/* Define color variables */
:root {
    --main-color: #f10000;
    --light-color: #ffffff;
    --accent-color: #000000;
}
/* Reset default styles */
body, h1, h2, h3, p, ul, li, a, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    font-family: 'Anek Latin', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, p{
    margin: 30px 0;
}

a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

h1{
    font-size: 40px;
    line-height: 1;
}

.btn{
    height: 60px;
    max-width: 375px;
    border-radius: 30px;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}

/* Center and style header, block, and footer */
.header, .block, .footer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header{
    color: var(--light-color);
    background-image: url('/img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.default{
    margin: 60px auto;    
}

.footer{

}

/* Center and style container */
.container {
    width: calc(100vw - (30px * 2));
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav-bar {
    padding: 30px 0;
    gap: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo img {
    height: 45px;
    width: auto;
}

.nav {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav li {
}

.nav a {
    font-weight: 400;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero img{
    max-width: 400px;
    width: 40%;
}

.hero-copy-block {
    margin: 30px 0;
}

.video-block {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    gap: 60px;
}

.video-block img {
    flex: 1; /* Take up all available space */
    max-width: calc(50% - 60px); /* Set maximum width */
    height: auto;
    object-fit: contain; /* Maintain aspect ratio without cropping */
}

.copy-block {
    flex: 1; /* Take up all available space */
}



.double-buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 30px
}

.double-buttons .btn{
    width: calc(50% - (15px/2));
    background-color: var(--light-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin: 0;
}

.highlight{
    background-color: var(--main-color);
    padding: 60px 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
}

form{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.form input{
    max-width: 375px;
    width: calc(50% - (30px / 2));
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid var(--light-color);
    margin-top: 30px;
}

input.btn{
    background-color: var(--main-color);
    border: 1px solid var(--light-color);
    color: var(--light-color);
    margin: 30px auto;
    align-items: center;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--light-color);
}

form input:focus,
form textarea:focus {
    outline: none;
}