/* Define color variables */
:root {
    --main-color: #f10000;
    --light-color: #ffffff;
    --accent-color: #000000;
}

*{
    box-sizing: border-box;
}

/* Reset default styles */


body, h1, h2, h3, p, ul, li, a, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    font-family: 'Anek Latin', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, p{
    margin: 30px 0;
}

a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

h1{
    font-size: 40px;
    line-height: 1;
}

h3{
    font-weight: 600;
    font-size: 24px;
}

.btn{
    height: 60px;
    max-width: 375px;
    border-radius: 30px;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}

/* Center and style header, block, and footer */
.header, .block, .footer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header{
    color: var(--light-color);
    background-image: url('../img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.default{
    margin: 60px auto;    
}

/* Center and style container */
.container {
    width: calc(100vw - (30px * 2));
    max-width: 1220px;
    margin: 0 auto;
}

.nav-bar {
    padding: 30px 0;
    gap: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.logo img {
    height: 45px;
    width: auto;
}

.mobile-nav img {
    height: 45px;
    width: auto;
}

.mobile-nav{
    display: none;
}

.dot-container{
    display: none;
}

.nav {
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav a {
    font-weight: 400;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero img{
    max-width: 400px;
    width: 40%;
}

.hero-copy-block {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.hero-copy-block h1{
    margin: 0;
}

.video-block {
    display: flex;
    flex-wrap: wrap; 
    gap: 60px;
}

.video-block img {
    flex: 1;
    max-width: calc(50% - 60px);
    height: auto;
    object-fit: contain; 
}
.copy-block {
    flex: 1;
}



.double-buttons{
    display: flex;
    gap: 15px;
    margin-bottom: 30px
}

.double-buttons .btn{
    width: calc(50% - (15px/2));
    background-color: var(--light-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin: 0;
    min-width: 160px;
}

.highlight{
    background-color: var(--main-color);
    padding: 60px 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
}

form{
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.form input{
    max-width: 375px;
    width: calc(50% - (30px / 2));
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid var(--light-color);
    margin-top: 30px;
}

input.btn{
    background-color: var(--main-color);
    border: 1px solid var(--light-color);
    color: var(--light-color);
    margin: 30px auto;
    align-items: center;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--light-color);
}

form input:focus,
form textarea:focus {
    outline: none;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services .btn{
    width: 100%;
    background-color: var(--light-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.service h3{
    margin: 20px 0 0;
}

.service p{
    margin-top: 0;
}

.service-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
}
.service{
    display: flex;
    min-width: calc(50% - 15px);
    width: 500px;
    max-width: 100%;
}

.service img{
    height: 150px;
    object-fit: cover;
}

.dark{
    background-color: var(--accent-color);
    color: var(--light-color);
}

.dark .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.red-card{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.card h2{
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.card h3{
    margin-top: 15px;
}

.black-card{
    background-color: var(--accent-color);
    border: 1px solid var(--light-color);
}
.card-list li{
    line-height: 1.25;
    padding-bottom: 15px;
}
.card-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 60px;
    border-radius: 30px;
}

.card-header{
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 30px;
}

.price-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.pricing{
    margin-top: 60px;
}

.pricing h1{
    margin-bottom: 60px;
}

.pricing .btn{
    width: 100%;
    background-color: var(--light-color);
    color: var(--main-color);
    margin: 60px 0;
}
.footer{
    background-color: var(--main-color);

}

.footer img{
    height: 45px;
    width: auto;
}

.footer a{
    color: var(--light-color);
}

.footer .container{
    display: flex;
    justify-content: space-between;
    margin: 60px auto 30px;
}

.footer-content{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer-content p{
    width: 100%;
    color: var(--light-color);
    text-align: right;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}

@media (max-width: 730px) {
    .footer-nav {
      flex-direction: column;
      align-items: center;
    }

    .footer .container{
        flex-direction: column;
        gap: 60px;
    }
    .footer-content p{
        text-align: center;
        margin-top: 60px;
    }
    .form input{
        width: 100%;
    }

    .hero{
        flex-direction: column;
        align-items: center;
    }
    .hero-copy-block{
        align-items: center;
        text-align: center;
    }

    .hero-copy-block .btn{
        width: 100%;
    }

    .hero img{
        width: 75%;
    }
    .video-block img {
        width: 100%;
        max-width: 100%;
    }

    .logo{
        margin: 15px 60px 60px;
    }


    .mobile-nav{
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        width: calc(100vw - ((30px * 2) + 45px));
    }

    .mobile-container{
        display: flex;
        justify-content: flex-end
    }

    .mobile-nav img{
        width: calc(100vw - ((30px * 2) + 90px));
    }

    .dot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        height: 45px;
        width: 45px;
        z-index: 2;
        transform: translate(0, 0);
        transition: transform 1s ease;
    }
    .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: white;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        background-color: var(--main-color);
        margin: 0 -30px;
        height: 100vh;
        justify-content: flex-start;
        width: 100vw;
        z-index: 1;
        transform: translate(100vw, 0);
        transition: transform 1s ease;
    }
    .nav{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .nav li a{
        padding-bottom: 30px;
        font-weight: 600;
        font-size: 16px;
    }    

}

@media (max-width: 600px) {

    .service-list{
        width: 100%;
        
    }

}